$plugin-bg-color: white;
$list-background-color: #f5f5f5;
$button-bg: dodgerblue;
$button-text: white;
$button-secondary-bg: $plugin-bg-color;
$button-secondary-bdr: #ccc;
$button-secondary-text: black;
